* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 40px;
}

nav h1 span {
  color: orange;
}

nav{
  padding: 20px 30px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0; 
  height: 3px;
  background:orange;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Hero Section */
.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to right, #f9f9f9, #ff9900);
}

.text-content h1 {
    font-size: 2.5rem;
}

.text-content h2 {
    margin: 10px 0;
    font-size: 1.8rem;
    color: orange;
}

.text-content p {
    margin: 20px 0;
    font-size: 1rem;
    color: #666;
}

.hire-btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background: orange;
    text-decoration: none;
    border-radius: 5px;
}

.image-content img {
    width: 300px;
    border-radius: 10px;
}

/* Education Container */
.education-section {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
}
  
h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
}
  
.education-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
  
.education-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    background-color: white;
}
  
.year {
    font-size: 13px;
    color: orange;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
  
h2 {
    font-size: 22px;
    margin: 0 0 10px;
}
  
p {
    font-size: 17px;
    line-height: 1.6;
}

/* Expertise-container */
.expertise-section {
    padding: 50px 20px;
}

.expertise-section h1 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;
}

.expertise-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.expertise-item {
    background: #fff;
    padding: 20px;
    border-radius: 25px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.expertise-item:hover {
    transform: translateY(-10px);
}

.expertise-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.expertise-item p {
    font-size: 1rem;
    color: #666;
}

/* contact form */
.contact-container {
  display: flex;
  width: 80%;
  margin:10% 0 0 10%; 
  margin-bottom: 20px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-explore {
  flex: 1;
  background:orange;
  padding: 20px;
  color: #000000;
}

.contact-explore h2 {
  margin-bottom: 15px;
}

.contact-explore p {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.contact-form {
  flex: 2;
  padding: 20px;
  background: #f9f9f9;
  color: #333;
}

.contact-form h2 {
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: none;
}

.btn {
  margin-top: 20px;
  padding: 10px;
  width: fit-content; 
  background:orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background: rgb(255, 255, 255);
  color: #000000;
}

.resume{
  text-align: center;
  background-color: #333;
}

.resumes{
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color:whitesmoke;
  box-shadow: 0px 0px 5px white;
  background-color: orange;
}

@media screen and (max-width:910px) and (max-width:768px){
  body{
    width: 100%;
    
  }

  #nav{
    display:none;
  }

  .hero{
    flex-direction: column;
    
  }

  .education-container{
    flex-direction: column;
  }

  .expertise-container{
    flex-direction: column;
    align-items: center;
  }

  .contact-container{
    flex-direction: column;
  }
}
